* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#intro svg { width: 20px; height: 20px; fill: #ffffff; }

#intro { position: relative; display: flex; justify-content: center; align-items: center; }

.intro-background-image img {
    user-select: none;
    display: block;
    width: 100%;
    filter: brightness(35%);
}

.intro-menu {
    width: 90px;
    position: absolute;
    top: 20px; right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.wrapper {
    width: 90px; height: 90px;
    position: absolute;
    bottom: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.collapse-wrapper {
    width: 60px; height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #27605b;
    border-radius: 50%;
    border: 2.2px solid #5cc9c1;
}

#intro-content {
    margin-top: 40px;
    width: 700px; height: 440px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header .intro-line {
    width: 410px; height: 4px;
    background-color: #ffffff;
}

.header .intro-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;
}

.header .intro-subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 34px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
}

#intro-content .text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
}

.intro-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 14px 65px;
    color: #ffffff;
    background-color: transparent;
    border: 3px solid #ffffff;
}

.intro-button:hover { background-color: rgba(255,255,255,0.1); }

.carousel-arrows {
    width: 120px;
    position: absolute;
    bottom: 3px;
    display: flex;
    justify-content: space-between;
}

/*services*/

/*services header*/
#header {
    width: 100%; height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    margin-top: 60px;
    width: 680px; height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header-content .title {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #898f8f;
    margin-bottom: -10px;
    opacity: 0.8;
}

.header-content .subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 52px;
    color: #5cc9c1;
}

.header-content .header-divider {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-divider .header-line { width: 185px; height: 1.5px; background-color: #5cc9c1; }

.header-divider svg { width: 15px; height: 15px; fill: #5cc9c1; }

.header-content .text {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #898f8f;
    margin-top: 15px;
    opacity: 0.8;
}

/*nav content*/

/*own styles*/
.nav-content svg { width: 75px; height: 75px; fill: #ffffff; }

.nav-tabs>li>a {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 35px 120px 35px;
}

.nav-link span {
    position: relative;
    bottom: -40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 0.8;
}

.nav-tabs>li.active>a::before {
    position: absolute;
    top: 100%;
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #164d61;
}

.nav-link .hidden-lay span {
    opacity: 0;
    transition: 0.5s;
    position: relative;
    top: -40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;   
}

.nav-tabs .nav-item .nav-link:hover svg {
    opacity: 0;
    transition: 0.5s;
}

.nav-tabs .nav-item .nav-link:hover .hidden-lay span {
    opacity: 1;
    transition: 0.5s;
}

/*list positioning*/

.nav-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.nav-tabs {
    position: absolute;
}

.menu-background-image img {
    user-select: none;
    display: block;
    width: 100%;
}

/*resetting styles*/

.nav-tabs {
    border-bottom: none;
}

.nav-tabs>li>a {
    margin-right: 0;
    line-height: 0;
    border-radius: 0;
}

a {
    color: #ffffff;
}

.nav-tabs>li>a:hover {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: transparent;
    cursor: default;
    color: #ffffff;
    border: none;
}

/*tab-content*/

.tab-content { 
    /*height: 400px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid tomato;
}

.tab-pane {
    margin-top: 150px;
    width: 60%;
    border: 2px solid yellow;
}

.tab-content span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #164d61;
    text-transform: capitalize;
}

.tab-content .tab-line {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50px; height: 1px;
    background-color: #898f8f;
    opacity: 0.7;
}

.tab-content p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #666666;
    text-align: justify;
}

/*collapse functionallity*/

.tab-content svg {
    position: relative;
    top: 10px;
    left: 10px;
    width: 20px; height: 20px;
    fill: #ffffff;
}

.collapse-services {
    margin-bottom: 200px;
    width: 40px; height: 40px;
    position: relative;
    background-color: #164d61;
    border-radius: 50%;
}

/*
.services-content svg { width: 75px; height: 75px; fill: #ffffff }

.nav-item .nav-link { text-decoration: none; }

#menu { display: flex; justify-content: center; align-items: flex-end; }

.services-content { position: absolute; }

.menu-background-image img {
    display: block;
    width: 100%;
}

.services-content .nav-tabs {
    list-style: none;
    displaY: flex;
}

.services-content .nav-tabs .nav-item .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-bottom: 65px;
}

.nav-link span {
    position: relative;
    bottom: -20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 0.8;
}

.nav-link .hidden-lay span {
    opacity: 0;
    transition: 0.5s;
    position: relative;
    top: -80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;   
}

.services-content .nav-tabs .nav-item .nav-link:hover svg {
    opacity: 0;
    transition: 0.5s;
}

.services-content .nav-tabs .nav-item .nav-link:hover .hidden-lay span {
    opacity: 1;
    transition: 0.5s;
}

.nav-item .nav-link.active::before {
    position: absolute;
    top: 100%;
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #164d61;
}

/*services description

.tab-panel span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #164d61;
    text-transform: capitalize;
}

.tab-panel svg { width: 25px; height: 25px; fill: #164d61; }

.tab-panel .line {
    width: 50px; height: 1px;
    background-color: #898f8f;
    opacity: 0.7;
}

.tab-panel .text-description {
    height: 100px;
    overflow: hidden;
}

.tab-panel p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #666666;
    text-align: justify;
}

#description {
    width: 100%; height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}
*/


